.inputSearch {
  margin: 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-size: 30px;
    font-weight: 600;
  }

  &-label {
    display: flex;
    justify-content: center;

    &-input {
      background-color: rgb(230, 230, 230);
      border: 1px solid #ff6a28;
      color: #ff6a28;
      border-radius: 5px;
      text-align: center;
      height: 40px;
      width: 90%;
      font-size: 16px;

      &::placeholder {
        color: #ff6a28;

      }

    }
  }

  @media (max-width: 768px) {
    .inputSearch-label-input {
      width: 100%;
      font-size: 13px;
    }

    h2 {
      text-align: center;
    }
  }
}