@mixin padraoBtn {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerProductDetails {
}

.productDetails {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  padding: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  

  &-title {
    font-size: 26px;
  }

  &-filtered {
    display: flex;
    justify-content: space-between;

    &-info {
      display: flex;
      width: 80%;
      gap: 10px;

      &-img {
      width: 100px;
      height: 100px;
      }

      &-texts {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        &-title {
          font-weight: 700;
        }

        &-ingredients {
          display: flex;
          flex-wrap: wrap;
          color: rgb(139, 139, 139);

          &-btns {
            display: flex;
            align-items: center;
            gap: 5px;

            &-btn {
              background-color: #ff6a28;
              border: none;
              font-size: 16px;
              font-weight: 700;
              border-radius: 50%;
              padding: 5px 10px;
              color: white;
            }
          }
        }
      }
    }

    &-price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: end;

      p {
        font-weight: 700;
        font-size: 18px;
      }
    }
  }

  &-inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &-text {
      font-weight: 700;
      padding: 10px 20px;
    }

    &-textarea {
      border: 1px solid rgb(218, 218, 218);
      font-size: 14px;
    }

    &-checkboxs {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    &-labelCheckbox {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      box-shadow: 1px 1px 1px 1px rgb(228, 228, 228);
      border-radius: 15px;

      &-first {
        display: flex;
        align-items: center;
        gap: 15px;

        &-img {
          width: 50px;
        }

        p {
          display: flex;
          flex-direction: column;
          font-weight: 700;

          span {
            font-weight: 400;
            color: grey;
          }
        }
      }

    }
  }

  &-btns {
    display: flex;
    gap: 20px;
    justify-content: end;

    a{ 
      text-decoration: none;
    }

    &-back {
      @include padraoBtn();
      color: #ff6a28;
        border: 1px solid #ff6a28;
    }

    &-add {
      @include padraoBtn();
      border: none;
        color: white;
        background-color: #ff6a28;
    }
  }

  @media (max-width: 868px) {
    padding: 10px 3%;
    width: 80%;


    &-filtered {
      flex-direction: column;
      gap: 20px;
      
      &-price {
        align-items: flex-end;
        gap: 10px;
        flex-direction: row;
      }
    }

    &-btns {
      flex-direction: column;
    }
  }
}